body {
	font-family: Arial, Verdana, sans-serif;
}

table, th, td {
	border: 1px solid gray;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

th {
	background-color: #031B7D;
	color: white;
	text-align: left;
	padding-right: 20px;
}

tbody tr:nth-child(even) {
	background-color: #DDD;
}

.ascend {
    background-color: rgba(165, 176, 252, 1);
    background-image: url("ascend.png");
    background-position: right;
    background-repeat: no-repeat;
}
.descend {
	background-color: rgba(165, 176, 252, 1);
    background-image: url("descend.png");
    background-position: right;
    background-repeat: no-repeat;
}