extends header

block content
	#main_content.detail(ng-controller='homeCtrl')
		h1 Home
		.posts(ng-repeat='post in posts')
			.post(ng-click='viewPost(post)')
				h2 {{post.title}}
				p {{post.time}}
				p(ng-click='viewUser(post.author)') {{post.author.name}}
		button#newpost(name='newpost', ng-click='newPost()') New Post